/*  your css code here. If applicable */
.container{
	
	width:500px;
	height:100px;
	border-radius:50px;
	border:6px solid black;
	padding:50px;
	
	background-color:lightgray;
	text-align:center
	
	
}
.green{
	
	width:100px;
	height:100px;
	background-color:green;
	display:inline-block;
	border-radius:50%;
}
.yellow{
	
	width:100px;
	height:100px;
	background-color:yellow;
	display:inline-block;
	border-radius:50%;
}

.red{
	
	width:100px;
	height:100px;
	background-color:red;
	display:inline-block;
	border-radius:50%;
}